*~
__pycache__
*.pyc
*.so
*.a
build
dist
eggs
*.egg-info
lib
tmp
docs/_build
.ipynb_checkpoints
env
venv
.env
.venv
.vscode
lib64
wheels
*.egg
.ycm_extra_conf.py
*.exe
*.pyc
test
tests
!tests
!test
foo*
bar*
spam*
hifir4py/*.cpp
hifir4py/*.h
hifir4py/*/*.cpp
hifir4py/*/*.h
docs/README.rst
docs/generated
.MATLABDriveTag
