include README.rst
include LICENSE
include requirements.txt
include MANIFEST.in
include conf.py
graft hifir4py
graft tests
graft docs
graft examples
global-exclude __pycache__
global-exclude *.so
global-exclude *.py[cox]
global-exclude *.cpp
global-exclude *.pxi
